<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>QuizzGame</span>

    <span class="example-spacer"></span>
    
    <button mat-button>About</button>
    <button mat-button>Services</button>
    <button mat-button>Contact</button>
    <button mat-button [routerLink]="['/login']">Login</button>
    <button mat-button [routerLink]="['/register']">Popup</button>
  </mat-toolbar-row>
</mat-toolbar> -->

<!-- <mat-card>
  <mat-form-field>
    <input matInput  placeholder="enter userid">

  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="enter password">
  </mat-form-field>
  <br>
  <button mat-raised-button (click)="showAnswer()">Log in</button>
  <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
<!-- </mat-card> -->
<!-- <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Log in</mat-card-title>
  </mat-card-header>
  
  <mat-form-field>
    <input matInput  placeholder="enter userid">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="enter password">
  </mat-form-field>

  <mat-card-actions>
    
    <mat-chip-list class="mat-chip-list-stacked">
      <mat-chip *ngFor="let chip of availableColors" selected="true" [color]="chip.color" [routerLink]="['/login']">
        {{chip.name}}
      </mat-chip>
  
      <mat-chip *ngFor="let chip of availableRegisterColors" selected="true" [color]="chip.color" [routerLink]="['/register']">
        {{chip.name}}
      </mat-chip>
    </mat-chip-list>
  
  </mat-card-actions>
</mat-card> -->


<!-- <mat-card *ngIf="answerDisplay">
  <h1>{{ answerDisplay }}, you're damn right.</h1>
</mat-card> -->
<!-- <mat-sidenav-container style="height:700px">
  <mat-sidenav #sidenav mode="over" opened="false">
    <side-nav-menu class="bar" title='Maverick' [sidenav]="sidenav">
      <side-nav-item route="/state" title="Home" icon="home"></side-nav-item>
      <side-nav-item route="/page1" title="About Us" icon="assignment"></side-nav-item>
      <side-nav-group>
        <side-nav-item route="/page2" title="Blogs"></side-nav-item>
        <side-nav-item route="/page3" title="Help"></side-nav-item>
      </side-nav-group>
      <side-nav-group title="submenu 4">
        <side-nav-item route="/page/4.1" title="Page"></side-nav-item>
        <side-nav-item route="/page/4.2" title="Page"></side-nav-item>
      </side-nav-group>
      <side-nav-x-group title="submenu 5">
        <side-nav-item route="/page/5.1" title="Page"></side-nav-item>
        <side-nav-item route="/page/5.2" title="Page"></side-nav-item>
      </side-nav-x-group>
      <side-nav-item route="/page/5" title="Page"></side-nav-item>
      <side-nav-item route="/page/6" title="Page" icon="info"></side-nav-item>
    </side-nav-menu>
  </mat-sidenav>
  <mat-toolbar class="header">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon class="side-nav-icon">menu</mat-icon>
      </button>
      <span class="example-spacer">
        <a class="logo" routerLink="add">Maverick</a>
      </span>
      <mat-icon class="material-icons">account_circle</mat-icon>
      <mat-chip-list>
        <mat-chip class="sign-in-chip">
          <a class="sign-in" routerLink="login">Sign In</a>
        </mat-chip>

      </mat-chip-list>
    </mat-toolbar-row>
  </mat-toolbar> -->


<!-- <footer id="footer">
        <app-footer></app-footer>
    </footer> -->
<!-- <div style="text-align:center;width:100%">
    <router-outlet></router-outlet>
  </div> -->
<router-outlet></router-outlet>